.env
.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info
.vscode.env
bfg-1.14.0.jar
mebius-chatbot/__pycache__/main.cpython-310.pyc
mebius-chatbot/llm/__pycache__/generator.cpython-310.pyc
